{% extends "admin/base.html" %}

{% block branding %}
  <h1 id="site-name">پنل مدیریت</h1>
  {% if unread_messages_count > 0 %}
      <p style="color: red;
            font-weight: bold;
            border: 1px solid gray;
            background-color: #cfecad;
            width: 210px;
            /* height: 0; */
            text-align: center;
            padding: 20px;
            border-radius: 10px;
        }">
         شما {{ unread_messages_count }} پیام جدید دارید
      </p>
  {% endif %}
{% endblock %}