{% extends 'base.html' %}
{% block title %}ورود کاربر{% endblock %}
{% block header %}
    <style>
        .login{
            {#font-size: 14px;#}
            margin: 2px;
            color: #0f74a8;
        }
        p{
            margin: 7px;
        }
    </style>
{% endblock %}

{% block content %}
<h2>ورود کاربر</h2>

<form method="post">
    {% csrf_token %}

    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}

    {{ form.password.label_tag }}
    {{ form.password }}
    {{ form.password.errors }}

    <button type="submit">ورود</button>
</form>
{% endblock %}