{% extends 'base.html' %}
{% block title %}ورود کاربر{% endblock %}
{% block content %}
<h2>ورود کاربر</h2>

<form method="post">
    {% csrf_token %}

    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}

    {{ form.password.label_tag }}
    {{ form.password }}
    {{ form.password.errors }}

    <button type="submit">ورود</button>
</form>

<a href="{% url 'send_reset_link' %}">ورود با لینک ایمیل</a>
<a href="{% url 'send_code' %}">ورود با پیامک</a>
{% endblock %}
